/* Larger screen styles */
@media (min-width: 700px) {
  #menu {
    display: none;
  }

  .navigation {
    display: flex;
    position: static;
    flex-direction: row;
    width: auto;
  }

  .navigation a {
    border: none;
    padding: 1rem 1.5rem;
  }

  main {
    max-width: 1200px;
  }

  .album {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}